<h1>Happy Holidays!</h1>
Join the <a href="https://discord.gg/p5MdYue">Discord!</a><br />
See <a href="/Home/WhatsNew">What's New!</a><br />
Or <a href="/Home/Randomize">Generate</a> a randomized ROM!<br />
<h2 style="margin-top:1em">Holiday Updates</h2>
Bug fixes:
<ul>
	<li>Fix door palette</li>
	<li>Update fiend text to be more festive</li>
	<li>Minor text formatting errors</li>
</ul>